<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - FIT AI</title>
    <link rel="stylesheet" href="/Frontend/css/style.css">
    <link rel="stylesheet" href="/Frontend/css/styleLog.css">
</head>
<body>
    {{> header}}
        <div class="header-content container">

            <div class="header-info">
                <h1>Galeria</h1>
                <p>Aqui irian las fotos respectivamente
                </p>
                <a href="#" class="btn-1">Empieza</a>
            </div>
        </div>
    {{> footer}}
</body>
</html>