<div class="login-container">
    <div class="login-box">
        <h1>Restablecer Contraseña</h1>
        <p>Ingresa tu nueva contraseña.</p>
        
        <form class="login-form" id="updatePasswordForm">
            <div class="form-group">
                <label for="password">Nueva Contraseña</label>
                <div class="password-toggle-container">
                    <input type="password" id="password" name="password" placeholder="••••••••" required>
                    <img src="/images/eye-closed.png" width="20" class="password-toggle-icon" id="togglePassword">
                </div>
            </div>

            <div class="form-group">
                <label for="confirmarpassword">Confirmar Contraseña</label>
                <div class="password-toggle-container">
                    <input type="password" id="confirmarpassword" name="confirmarpassword" placeholder="••••••••" required>
                    <img src="/images/eye-closed.png" width="20" class="password-toggle-icon" id="toggleConfirmPassword">
                </div>
            </div>

            <button type="submit" class="btn-login-submit">Actualizar Contraseña</button>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/register.js" defer></script>