<div class="container-log">
    <div class="form-container">
        <div class="form-content">
            <h1 class="form-title" style="text-align: center;">¡Correo Verificado!</h1>
            <p style="text-align: center; margin-bottom: 25px;">
                Tu cuenta ha sido verificada exitosamente. Ya puedes iniciar sesión.
            </p>
            <a href="/login" class="form-button">Ir a Iniciar Sesión</a>
        </div>
    </div>
</div>

<script>
    setTimeout(() => {
        window.location.href = '/login';
    }, 5000);
</script>