<div class="login-container">
    
    <div class="login-box verification-box">
        
        <h1>¡Correo Verificado!</h1>
        
        <p>
            Tu cuenta ha sido verificada exitosamente. Ya puedes iniciar sesión.
        </p>
        
        <a href="/login" class="btn-login-submit">
            Ir a Iniciar Sesión
        </a>
        
    </div>
</div>
<!--
<script>
    setTimeout(() => {
        window.location.href = '/login';
    }, 5000);
</script>
-->