<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIT AI Coach</title>
    <link rel="stylesheet" href="/css/style.css?v=1.2"> 
    {{#if pageCss}}
    <link rel="stylesheet" href="/css/{{pageCss}}?v=1.2">
    {{/if}}

</head>
<body>
    {{> header}}

    <main>
        {{{body}}}
    </main>

    {{> footer}}

    <script src="/js/auth.js" defer></script>
    <script src="/js/login.js" defer></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/mobile-menu.js" defer></script> 

</body>
</html>
