<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIT AI Coach</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleLog.css">
    <link rel="stylesheet" href="/css/styleSub.css">
    <link rel="stylesheet" href="/css/styleV2.css">
    <link rel="stylesheet" href="/css/styleReg.css">
    <link rel="stylesheet" href="/css/stylePerfil.css">
</head>
<body>
    {{> header}}
    <main>
        {{{body}}}
    </main>
    {{> footer}}
    <script src="/js/auth.js" defer></script>
    <script src="/js/login.js" defer></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/mobile-menu.js" defer></script> 

</body>
</html>

