<div class="container menu">
    <a href="IndexV2.html" class="logo">FIT AI</a>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">
        <img src="images/menu.png" alt="Menú">
    </label>
    <nav class="navbar">
        <ul>
            <li><a href="IndexV2.html">Inicio</a></li>
            <li><a href="Galeria.html">¿Quién somos?</a></li>
            <li><a href="Galeria.html">Funcionamiento</a></li>
            <li><a href="#">Háblanos</a></li>
        </ul>
    </nav>
</div>