<footer class="footer">
    <div class="container">
        
        <div class="footer-content">
            
            <div class="footer-section">
                <h2>FIT AI</h2>
                <p>Transformando tu potencial en resultados. Únete a la revolución del fitness con inteligencia artificial. No se recomienda subir videos desde dispositivos móviles.</p>
            </div>

            <div class="footer-section links">
                <h2>Navegación</h2>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/#quienes-somos">¿Quiénes somos?</a></li>
                    <!--<li><a href="#">Funcionamiento</a></li>
                    <li><a href="#">Términos y Condiciones</a></li>
                    <li><a href="#">Política de Privacidad</a></li>-->
                </ul>
            </div>

            <div class="footer-section social-links">
                <h2>Síguenos</h2>
                <div>
                <a href="https://www.facebook.com/profile.php?id=61583675046941"><img src="/images/facebook.png" alt="Facebook" style="width: 32px; height: 32px;"></a>
                <a href="https://www.instagram.com/fit_ai_2025?igsh=MXdvaWxlb2p5bWZsbw=="><img src="/images/Instagram.png" alt="Instagram" style="width: 32px; height: 32px;"></a>
                <a href="https://x.com/FitAI2025"><img src="/images/twitter.png" alt="X" style="width: 32px; height: 32px;"></a>
                </div>
            </div>

        </div> 
        <div class="footer-bottom">
            © 2025 FIT AI | Todos los derechos reservados
        </div>
        
    </div> 
</footer>